*{
    margin: 0%;
    padding:0%;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    height: 120px;
    width: 100px;
    border: 2px solid black;
    margin-top:10px ; margin-left: 10px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
 #main img{
    width: 80%;
}